﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic-v1.2.4/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,100,100italic,300,300italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

    <script src="lib/ionic-v1.2.4/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- pouchDB script -->
    <script src="lib/pouchdb-5.3.0.min.js"></script>

    <!-- ionic datepicker -->
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>

    <!-- your app's js -->
    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/services.js"></script>
</head>
<body ng-app="starter" ng-controller="HeaderBarController">
    <ion-view>
        <ion-content overflow-scroll="false" style="background-color:#0866c6">
            <center>
                <div class="padding-top"><img src="img/temp/logo.png" height="175" width="175" alt="Momlink"></div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Username" ng-model="user">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password" ng-model="pass">
                    </label>
                </div>

               <!-- <script>
                    var today = new Date();
                    getDate = function () {
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1; //January is 0!
                        var yyyy = today.getFullYear();
                        if (dd < 10) {
                            dd = '0' + dd
                        }
                        if (mm < 10) {
                            mm = '0' + mm
                        }
                        date = mm + '/' + dd + '/' + yyyy;
                        return date;
                    }

                    function doFunction() {
                        var db = PouchDB('http://localhost:5984/momlink');
                        //get correct doc
                        db.get('track_bhr').then(function (doc) {
                            console.log('wera');
                            doc[getDate()] += ['whut', 'whut'];
                            return db.put(doc);
                        });
                    };
                </script>
                <input id="clickMe" type="button" value="clickme" onclick="doFunction();" />-->


                <div class="padding-left padding-right">
                    <input type="button" class="button button-block button-positive" value="LOGIN" ng-click="login(user, pass)">
                </div>
                <div style="width:90%; border-bottom:2px solid white;"></div>
                <div class="padding">
                    <input type="button" class="button button-block button-positive" value="FORGOT PASSWORD" onclick="window.location='templates/forgotPassword.html'">
                    <input type="button" class="button button-block button-positive" value="NEW USER?" onclick="window.location='templates/register.html'">
                </div>
            </center>
        </ion-content>
    </ion-view>
</body>
</html>
