﻿<!DOCTYPE html>
<html>
<head>
    <access origin="*" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--ionic -->
    <link href="lib/ionic-v1.2.4/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic-v1.2.4/js/ionic.bundle.js"></script>
    <!--jquery-->
    <script src="lib/jquery-2.2.3.min.js"></script>
    <link href="css/robotoFont.css" rel='stylesheet' type='text/css'>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!--pouchdb-->
    <script src="lib/pouchdb-5.4.1.js"></script>
    <!--my scripts/sheets-->
    <link href="css/style.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <!--moment js-->
    <script src="lib/moment/min/moment.min.js"></script>
</head>
<body ng-app="momlink" ng-controller="HeaderCtrl">
    <div id="content">
        <div ng-init="initializeDB()"></div>
        <ion-content overflow-scroll="true" style="background-color:#0866c6" ng-init="autoLogin()">
            <center>
                <div class="padding-top"><img src="img/temp/logo.PNG" height="175" width="175" alt="Momlink"></div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Username" ng-model="user">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password" ng-model="pass">
                    </label>
                </div>
                <div style="width:90%; border-bottom:2px solid white;"></div>
                <div class="padding-left padding-right padding-top">
                    <input type="button" class="button button-block button-positive" value="LOGIN" ng-click="login(user, pass)">
                </div>
                <div class="padding-left padding-right">
                    <input type="button" class="button button-block button-positive" value="FORGOT PASSWORD" ng-click="toNewPage('templates/forgotPassword.html')">
                    <!--<input type="button" class="button button-block button-positive" value="NEW USER?" ng-click="toNewPage('templates/register.html')">-->
                </div>
            </center>
        </ion-content>
    </div>
</body>
</html>
