<ion-pane>
    <ion-view>
        <ion-content overflow-scroll="false" class="has-header" ng-controller="DataController">
            <div>
                <ul>
                    <li ng-repeat="act in actList">
                        <div ng-show="$index % 2 == 0">
                            <div class="row">
                                <div class="col text-center">
                                    <input type="image" src={{act.image}} ng-click="goToAct(act.type)" name="type" style="width:100px;height:100px;" alt={{act.type}}>
                                    <p>{{act.type}}</p>
                                </div>
                                <div ng-show="actList[$index+1] != null" class="col text-center">
                                    <input type="image" src={{actList[$index+1].image}} ng-click="goToAct(actList[$index+1].type)" name="type" style="width:100px;height:100px;" alt={{actList[$index+1].type}}>
                                    <p>{{actList[$index+1].type}}</p>
                                </div>
                                <div ng-show="actList[$index+1] == null" class="col text-center">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ion-content>
    </ion-view>
</ion-pane>

