<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <ion-pane>
        <ion-view>
            <ion-content overflow-scroll="false" class="has-header" ng-controller="AddSubController">   
                <script id="popover.html" type="text/ng-template">
                    <ion-popover-view>
                        <div class="padding">
                            Description
                        </div>
                    </ion-popover-view>
                </script>
                <div class="row" ng-controller="PopOverController">
                    <div class="col text-right">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                </div>        
                <div class="row">                   
                    <div class="col text-center">
                        <p id="count" style="font-size: 70px; line-height: 70px; color:palevioletred;">120/80
                    </div>                    
                </div>
                <br />
                <div class="row padding">
                    <div class="col text-center">
                        <img type="button" src="../img/temp/plus.png" id="plus" ng-click="plus(' 120/80')" style="width:115px;height:115px;">
                        <img type="button" src="../img/temp/minus.png" id="minus" ng-click="minus(' 120/80')" style="width:65px;height:65px;">
                    </div>
                </div>
                <br />
                <div class="row padding">
                    <div class="col text-center">
                        <input type="button" class="button button-block button-stable" value="CLEAR" ng-click="clear(' 120/80')">
                        <input type="button" class="button button-block button-positive" value="SUBMIT">
                    </div>
                </div>

            </ion-content>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
