<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        <h1 class="title" id="modalHeadline">Blood Pressure</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header" ng-controller="TrackCtrl">
        <script id="popover.html" type="text/ng-template">
            <ion-popover-view>
                <div class="padding">
                    Description
                </div>
            </ion-popover-view>
        </script>
        <div class="row" ng-controller="PopOverCtrl">
            <div class="col text-right">
                <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p id="count" class="trackingText activeBorder" ng-click="setActive('count')">120</p>
                <p class="trackingText">/</p>
                <p id="count2" class="trackingText" ng-click="setActive('count2')">80</p>
            </div>
        </div>
        <br />
        <div class="row padding">
            <div class="col text-center">
                <img type="button" src="../img/temp/plus.png" id="plus" ng-click="plusMinusBP('plus')" style="width:100px;height:100px;">
                <img type="button" src="../img/temp/minus.png" id="minus" ng-click="plusMinusBP('minus')" style="width:50px;height:50px;">
            </div>
        </div>
        <br />
        <div class="row padding">
            <div class="col text-center" ng-controller="TrackCtrl">
                <input type="button" class="button button-block button-stable" value="CLEAR" ng-click="clear('count', 120); clear('count2', 80)">
                <input type="button" class="button button-block button-positive" value="SUBMIT" ng-click="submitBP();closeModal();">
            </div>
        </div>
    </ion-content>
</ion-modal-view>