<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        <h1 class="title" id="modalHeadline">Cigarettes</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header" ng-controller="TrackCtrl">
        <div ng-controller="TrackCtrl">
            <div class="row">
                <div class="col">
                    <div class="col text-center">
                        <p id="count" style="font-size: 30px; line-height: 30px; display: inline-block;">0</p>
                        <p style="font-size: 30px; line-height: 30px; display: inline-block;">&nbsp;Cigarette(s)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col text-center">
                        <img src="../img/temp/haflCigarette.png" style="width:25px; height:125px;" />
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <img type="button" src="../img/temp/minus.png" id="minus" ng-click="plusMinusHalf('minus','count')" style="width:30px;height:30px;">
                        </div>
                        <div class="col text-center">
                            <img type="button" src="../img/temp/plus.png" id="plus" ng-click="plusMinusHalf('plus','count')" style="width:30px;height:30px;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col text-center">
                        <img src="../img/temp/fullCigarette.png" style="width:25px; height:125px;" />
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <img type="button" src="../img/temp/minus.png" id="minus" ng-click="plusMinus('minus','count')" style="width:30px;height:30px;">
                        </div>
                        <div class="col text-center">
                            <img type="button" src="../img/temp/plus.png" id="plus" ng-click="plusMinus('plus','count')" style="width:30px;height:30px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding">
                <div class="col text-center">
                    <input type="button" class="button button-block button-stable" value="CLEAR" ng-click="clear('count', 0);">
                    <input type="button" class="button button-block button-positive" value="SUBMIT" ng-click="submit('cigarette');closeModal();">
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>

