<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        <h1 class="title" id="modalHeadline">Conditions</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header" ng-controller="TrackCtrl">
        <ion-checkbox ng-model="condition.headache">Headache</ion-checkbox>
        <ion-checkbox ng-model="condition.fever">Fever</ion-checkbox>
        <ion-checkbox ng-model="condition.chills">Chills</ion-checkbox>
        <div class="row padding">
            <div class="col">
                <center>
                    <input type="button" class="button button-block button-positive" value="SUBMIT" ng-click="submitConditions();closeModal();">
                </center>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
