<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <ion-pane>
        <ion-view>
            <ion-content overflow-scroll="false" class="has-header" ng-controller="PopupCtrl">
                <div class="row" ng-controller="PopOverController">



                    <div class="col text-center">
                        <script id="popover.html" type="text/ng-template">
                            <ion-popover-view>
                                <div class="padding">
                                    Description
                                </div>
                            </ion-popover-view>
                        </script>
                        <div class="text-left">
                            <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                        </div>
                        <canvas id="counter" width="200" height="200" style="display: block; background:url('../img/food/food-29.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                        <script>
                            var bg = document.getElementById('counter');
                            var ctx = ctx = bg.getContext('2d');
                            var imd = null;
                            var circ = Math.PI * 2;
                            var quart = Math.PI / 2;
                            var size = 100;
                            ctx.beginPath();
                            ctx.strokeStyle = '#99CC33';
                            ctx.lineCap = 'square';
                            ctx.closePath();
                            ctx.fill();
                            ctx.lineWidth = 10.0;
                            imd = ctx.getImageData(0, 0, 200, 200);
                            var draw = function (current) {
                                ctx.putImageData(imd, 0, 0);
                                ctx.beginPath();
                                ctx.arc(100, 100, 85, -(quart), ((circ) * current) - quart, false);
                                ctx.stroke();
                                if (x == 100) {
                                    //add crown
                                }
                            }
                            draw(size / 100);
                            document.write('')
                        </script>
                        <img src="../img/food/food-29.png" ng-click="showFoodFluid('food-29.png','food-30.png','fruitVeg12','fruitVeg1')" style="width:150px; height:150px;"/>
                        <p>Fruits</p>
                    </div>



                    <div class="col text-center">
                        <img src="../img/food/food-28.png" ng-click="showFoodFluid('food-28.png','food-31.png','fruitVeg12','fruitVeg1')" style="width:150px; height:150px;" />
                        <p>Vegetables</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img src="../img/food/food-35.png" ng-click="showAmount('eat')" style="width:150px; height:150px;" />
                        <p>Proteins</p>
                    </div>
                    <div class="col text-center">
                        <img src="../img/food/grains.png" ng-click="showAmount('eat')" style="width:150px; height:150px;" />
                        <p>Grains</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img src="../img/food/dairy.png" ng-click="showFoodFluid('food-26.png','food-27.png','dairy12.png','dairy1.png')" style="width:150px; height:150px;" />
                        <p>Dairy</p>
                    </div>
                    <div class="col text-center">
                        <img src="../img/food/food-34.png" ng-click="showAmount('drink')" style="width:150px; height:150px;" />
                        <p>Fluids</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img src="../img/food/food-40.png" ng-click="showAmount('eat')" style="width:150px; height:150px;" />
                        <p>Sweets</p>
                    </div>
                    <div class="col text-center">
                        <img src="../img/food/food-43.png" ng-click="showAmount('eat')" style="width:150px; height:150px;" />
                        <p>Fats & Oils</p>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
