<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <ion-pane>
        <ion-subheader-bar class="bar bar-subheader">
            <h2 class="title" id="todaysDate"></h2>
            <script>
                var d = new Date(),
                    date = d.getDate(),
                    month = "Jan,Feb,Mar,Apr,May,June,July,Aug,Sept,Oct,Nov,Dec".split(",")[d.getMonth()];
                function nth(d) {
                    if (d > 3 && d < 21) return 'th';
                    switch (d % 10) {
                        case 1: return "st";
                        case 2: return "nd";
                        case 3: return "rd";
                        default: return "th";
                    }
                }
                document.getElementById("todaysDate").innerHTML = "Today, " + month + " " + date + nth(date) + " " + d.getFullYear();
            </script>
        </ion-subheader-bar>
        <ion-view>
            <ion-content overflow-scroll="false" class="has-header has-subheader">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="Search food..">
                    </label>
                    <button class="button button-clear">
                        Cancel
                    </button>
                </div>
                <div class="row padding-bottom">
                    <center><img src="../img/temp/camera.png" style="width:60px; height:50px;" /></center>
                </div>
                <div class="row">
                    <div class="col"><center><input id="obappt" class="col" type="image" src="../img/temp/breakfast.PNG" style="width:80px;height:80px;vertical-align:middle" />Breakfast</center></div>
                    <div class="col"><center><input id="tests" class="col" type="image" src="../img/temp/lunch.PNG" style="width:80px;height:80px;vertical-align:middle" />Lunch</center></div>
                    <div class="col"><center><input id="visits" class="col" type="image" src="../img/temp/dinner.PNG" style="width:80px;height:80px;vertical-align:middle" />Dinner</center></div>
                    <div class="col"><center><input id="ultra" class="col" type="image" src="../img/temp/snack.PNG" style="width:80px;height:80px;vertical-align:middle" />Snack</center></div>
                </div>
                <center>
                    <div class="row" ng-controller="PopupCtrl">
                        <div class="col">
                            <img src="../img/temp/save.png" style="width:25px; height:25px;" />
                        </div>
                        <div class="col">
                            <img src="../img/temp/delete.png" style="width:25px; height:25px;" />
                        </div>
                    </div>
                </center>
            </ion-content>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
