<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        <h1 class="title" id="modalHeadline">Baby Kicks</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header" ng-controller="TrackCtrl">
        <script id="popover.html" type="text/ng-template">
            <ion-popover-view>
                <div class="padding">
                    How many kicks you've felt within a 2 hour period
                </div>
            </ion-popover-view>
        </script>
        <div class="row" ng-controller="PopOverCtrl">
            <div class="col text-right">
                <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
            </div>
        </div>
        <div id="kicks"></div>
    </ion-content>
</ion-modal-view>
