<ion-pane>
    <ion-view>
        <ion-content overflow-scroll="false" class="has-header" ng-controller="DBController">
            <div class="row">
                <div class="col text-center"><img src="../img/moods/bored.png" ng-click="submitSet('Bored', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Bored</p></div>
                <div class="col text-center"><img src="../img/moods/calm.png" ng-click="submitSet('Calm', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Calm</p></div>
            </div>
            <div class="row">
                <div class="col text-center"><img src="../img/moods/cheerful.png" ng-click="submitSet('Cheerful', 'mood')" style="max-width:75px;height:75px;vertical-align:middle"><p>Cheerful</p></div>
                <div class="col text-center"><img src="../img/moods/excited.png" ng-click="submitSet('Excited', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Excited</p></div>
            </div>
            <div class="row">
                <div class="col text-center"><img src="../img/moods/irritated.png" ng-click="submitSet('Irritated', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Irritated</p></div>
                <div class="col text-center"><img src="../img/moods/neutral.png" ng-click="submitSet('Neutral', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Neutral</p></div>
            </div>
            <div class="row">
                <div class="col text-center"><img src="../img/moods/relaxed.png" ng-click="submitSet('Relaxed', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Relaxed</p></div>
                <div class="col text-center"><img src="../img/moods/sad.png" ng-click="submitSet('Sad', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Sad</p></div>
            </div>
            <div class="row">
                <div class="col text-center"><img src="../img/moods/tense.png" ng-click="submitSet('Tense', 'mood')" style="max-width:75px;max-height:75px;vertical-align:middle"><p>Tense</p></div>
                <div class="col text-center"></div>
            </div>
            <div class="row padding">
                <div class="col text-center">
                    <input type="button" class="button button-block button-stable" value="CANCEL" ng-click="goToHistory('addMood')">
                </div>
            </div>
        </ion-content>
    </ion-view>
</ion-pane>
