<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        <h1 class="title" id="modalHeadline">Mood</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header" ng-controller="TrackCtrl">
        <div class="row">
            <div class="col text-center"><img src="../img/moods/bored.png" ng-click="submitSet('1', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Bored</p></div>
            <div class="col text-center"><img src="../img/moods/calm.png" ng-click="submitSet('2', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Calm</p></div>
        </div>
        <div class="row">
            <div class="col text-center"><img src="../img/moods/cheerful.png" ng-click="submitSet('3', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Cheerful</p></div>
            <div class="col text-center"><img src="../img/moods/excited.png" ng-click="submitSet('4', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Excited</p></div>
        </div>
        <div class="row">
            <div class="col text-center"><img src="../img/moods/irritated.png" ng-click="submitSet('5', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Irritated</p></div>
            <div class="col text-center"><img src="../img/moods/neutral.png" ng-click="submitSet('6', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Neutral</p></div>
        </div>
        <div class="row">
            <div class="col text-center"><img src="../img/moods/relaxed.png" ng-click="submitSet('7', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Relaxed</p></div>
            <div class="col text-center"><img src="../img/moods/sad.png" ng-click="submitSet('8', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Sad</p></div>
        </div>
        <div class="row">
            <div class="col text-center"><img src="../img/moods/tense.png" ng-click="submitSet('9', 'mood');closeModal();" style="max-width:100px; max-height:100px; width:auto; height:auto;vertical-align:middle;"><p>Tense</p></div>
            <div class="col text-center"></div>
        </div>
    </ion-content>
</ion-modal-view>
