<ion-subheader-bar id="subheader" class="bar bar-subheader" ng-init="renderSubheaderDate()">
    <button class="button button-icon icon ion-reply" ng-click="toNewPage('track.html', 'Track')"></button>
    <h2 class="title" id="todaysDate"></h2>
</ion-subheader-bar>
<ion-content overflow-scroll="true" class="has-subheader" ng-controller="NutritionCtrl" ng-init="refreshNutritionPage()" on-swipe-left="increaseDate(); refreshNutritionPage();" on-swipe-right="decreaseDate(); refreshNutritionPage();">
    <div class="row no-padding">
        <!--FRUITS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:1px 1px 1px 0;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo('../img/servingInfo/infoFruit.png')"></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('fruits')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="fruits" width="150" height="150" ng-click="popupNutrition('popupFruit.html')"
                            style="background:url('../img/food/food-29.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Fruits</p></div></div>
        </div>
        <!--VEGETABLES-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:1px 0 1px 1px;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo('../img/servingInfo/infoVegetables.png')"></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('vegetables')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="vegetables" width="150" height="150" ng-click="popupNutrition('popupVegetables.html')"
                            style="background:url('../img/food/food-28.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Vegetables</p></div></div>
        </div>
    </div>
    <div class="row no-padding">
        <!--PROTEINS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo('../img/servingInfo/infoProtein.png')"></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('proteins')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="proteins" width="150" height="150" ng-click="popupNutrition('popupProteins.html')"
                            style="background:url('../img/food/food-35.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Proteins</p></div></div>
        </div>
        <!--GRAINS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo('../img/servingInfo/infoGrains.png')"></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('grains')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="grains" width="150" height="150" ng-click="popupNutrition('popupGrains.html')"
                            style="background:url('../img/food/grains.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Grains</p></div></div>
        </div>
    </div>
    <div class="row no-padding">
        <!--DAIRY-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo('../img/servingInfo/infoDairy.png')"></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('dairy')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="dairy" width="150" height="150" ng-click="popupNutrition('popupDairy.html')"
                            style="background:url('../img/food/dairy.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Dairy</p></div></div>
        </div>
        <!--FLUIDS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
            <div class="row no-padding">
                <!--<div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo('../img/servingInfo/infoFruit.jpg')"></button>
                </div>-->
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('fluids')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="fluids" width="150" height="150" ng-click="popupNutrition('popupFluids.html')"
                            style="background:url('../img/food/food-34.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Fluids</p></div></div>
        </div>
    </div>
    <div class="row no-padding">
        <!--SWEETS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
            <div class="row no-padding">
                <!--<div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo()"></button>
                </div>-->
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('sweets')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="sweets" width="150" height="150" ng-click="popupNutrition('popupSweets.html')"
                            style="background:url('../img/food/food-40.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Sweets</p></div></div>
        </div>
        <!--FATS AND OILS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click="servingInfo('../img/servingInfo/infoFatsOils.png')"></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('fats/oils')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="fats/oils" width="150" height="150" ng-click="popupNutrition('popupFatsOils.html')"
                            style="background:url('../img/food/food-43.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Fats and Oils</p></div></div>
        </div>
    </div>
</ion-content>

