<ion-subheader-bar id="subheader" class="bar bar-subheader" ng-init="renderSubheaderDate()">
    <button class="button button-icon icon ion-reply" ng-click="toNewPage('track.html', 'Track')"></button>
    <h2 class="title" id="todaysDate"></h2>
</ion-subheader-bar>
<ion-content overflow-scroll="true" class="has-subheader" ng-controller="NutritionCtrl" ng-init="refreshNutritionPage()" on-swipe-left="increaseDate(); refreshNutritionPage();" on-swipe-right="decreaseDate(); refreshNutritionPage();">
    <div class="row no-padding">
        <!--FRUITS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:1px 1px 1px 0;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('fruits')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="fruits" width="150" height="150" ng-click="showFoodFluid('fruits', 'food-29.png','food-30.png','fruitVeg12.png','fruitVeg1.png','fluids12.png','fluids1.png')"
                            style="background:url('../img/food/food-29.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Fruits</p></div></div>
        </div>
        <!--VEGETABLES-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:1px 0 1px 1px;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('vegetables')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="vegetables" width="150" height="150" ng-click="showFoodFluid('vegetables', 'food-28.png','food-31.png','fruitVeg12.png','fruitVeg1.png','fluids12.png','fluids1.png')"
                            style="background:url('../img/food/food-28.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Vegetables</p></div></div>
        </div>
    </div>
    <div class="row no-padding">
        <!--PROTEINS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('proteins')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="proteins" width="150" height="150" ng-click="showAmount('proteins', 'eat', 'protein12.png', 'protein1.png')"
                            style="background:url('../img/food/food-35.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Proteins</p></div></div>
        </div>
        <!--GRAINS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('grains')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="grains" width="150" height="150" ng-click="showAmount('grains', 'eat', 'grains12.png', 'grains1.png')"
                            style="background:url('../img/food/grains.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Grains</p></div></div>
        </div>
    </div>
    <div class="row no-padding">
        <!--DAIRY-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('dairy')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="dairy" width="150" height="150" ng-click="showFoodFluid('dairy', 'food-26.png','food-27.png','dairy12.png','dairy1.png','fluids12.png','fluids1.png')"
                            style="background:url('../img/food/dairy.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Dairy</p></div></div>
        </div>
        <!--FLUIDS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('fluids')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="fluids" width="150" height="150" ng-click="showAmount('fluids', 'drink', 'fluids12.png', 'fluids1.png')"
                            style="background:url('../img/food/food-34.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Fluids</p></div></div>
        </div>
    </div>
    <div class="row no-padding">
        <!--SWEETS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('sweets')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="sweets" width="150" height="150" ng-click="showAmount('sweets', 'eat', 'sweets12.png', 'sweets1.png')"
                            style="background:url('../img/food/food-40.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Sweets</p></div></div>
        </div>
        <!--FATS AND OILS-->
        <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
            <div class="row no-padding">
                <div class="col text-left no-padding" style="display:inline">
                    <button class="button button-icon icon ion-information-circled" ng-click=""></button>
                </div>
                <div class="col text-right no-padding" style="display:inline">
                    <button class="button button-icon icon ion-navicon-round" ng-click="renderNutritionHistory('fats/oils')"></button>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                    <canvas id="fats/oils" width="150" height="150" ng-click="showAmount('fats/oils', 'eat', 'sweets12.png', 'sweets1.png')"
                            style="background:url('../img/food/food-43.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                </div>
            </div>
            <div class="row"><div class="col"><p>Fats and Oils</p></div></div>
        </div>
    </div>
</ion-content>

