<ion-subheader-bar id="subheader" class="bar bar-subheader" ng-init="renderSubheaderDate()">
    <button class="button button-icon icon ion-reply" ng-click="toNewPage('track.html', 'Track')"></button>
    <h2 class="title" id="todaysDate"></h2>
</ion-subheader-bar>
<ion-content overflow-scroll="true" class="has-subheader" ng-controller="NutritionController">
    <div ng-controller="PopOverController">
        <div class="row no-padding">
            <!--FRUITS-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:1px 1px 1px 0;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Fruits</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="fruit" ng-init="nutritionCircle('fruit', '100', '50')" width="150" height="150" ng-click="showFoodFluid('food-29.png','food-30.png','fruitVeg12.png','fruitVeg1.png','fluids12.png','fluids1.png')"
                                style="background:url('../img/food/food-29.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Fruits</p></div></div>
            </div>
            <!--VEGETABLES-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:1px 0 1px 1px;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Vegetables</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="veg" ng-init="nutritionCircle('veg', '75', '50')" width="150" height="150" ng-click="showFoodFluid('food-28.png','food-31.png','fruitVeg12.png','fruitVeg1.png','fluids12.png','fluids1.png')"
                                style="background:url('../img/food/food-28.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Vegetables</p></div></div>
            </div>
        </div>
        <div class="row no-padding">
            <!--PROTEINS-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Proteins</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="proteins" ng-init="nutritionCircle('proteins', '32', '50')" width="150" height="150" ng-click="showAmount('eat', 'protein12.png', 'protein1.png')"
                                style="background:url('../img/food/food-35.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Proteins</p></div></div>
            </div>
            <!--GRAINS-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Grains</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="grains" ng-init="nutritionCircle('grains', '60', '50')" width="150" height="150" ng-click="showAmount('eat', 'grains12.png', 'grains1.png')"
                                style="background:url('../img/food/grains.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Grains</p></div></div>
            </div>
        </div>
        <div class="row no-padding">
            <!--DAIRY-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Dairy</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="dairy" ng-init="nutritionCircle('dairy', '30', '50')" width="150" height="150" ng-click="showFoodFluid('food-26.png','food-27.png','dairy12.png','dairy1.png','fluids12.png','fluids1.png')"
                                style="background:url('../img/food/dairy.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Dairy</p></div></div>
            </div>
            <!--FLUIDS-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Fluids</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="fluids" ng-init="nutritionCircle('fluids', '56', '50')" width="150" height="150" ng-click="showAmount('drink', 'fluids12.png', 'fluids1.png')"
                                style="background:url('../img/food/food-34.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Fluids</p></div></div>
            </div>
        </div>
        <div class="row no-padding">
            <!--SWEETS-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 1px 1px 0;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Sweets</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="sweets" ng-init="nutritionCircle('sweets', '100', '50')" width="150" height="150" ng-click="showAmount('eat', 'sweets12.png', 'sweets1.png')"
                                style="background:url('../img/food/food-40.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Sweets</p></div></div>
            </div>
            <!--FATS AND OILS-->
            <div class="col no-padding text-center" style="border:solid #b5b5b5; border-width:0 0 1px 1px;">
                <div class="row no-padding">
                    <script id="popover.html" type="text/ng-template">
                        <ion-popover-view><div class="padding">Fats and Oils</div></ion-popover-view>
                    </script>
                    <div class="col text-left no-padding" style="display:inline">
                        <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
                    </div>
                    <div class="col text-right no-padding" style="display:inline">
                        <button class="button button-icon icon ion-navicon-round" ng-click=""></button>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <canvas id="fatsoils" ng-init="nutritionCircle('fatsoils', '75', '50')" width="150" height="150" ng-click="showAmount('eat', 'sweets12.png', 'sweets1.png')"
                                style="background:url('../img/food/food-43.png'); background-size: contain; background-repeat: no-repeat;"></canvas>
                    </div>
                </div>
                <div class="row"><div class="col"><p>Fats and Oils</p></div></div>
            </div>
        </div>
    </div>
</ion-content>

