<ion-view>
    <ion-content overflow-scroll="false" class="has-header">
        <script>
            var el = window.localStorage.getItem('recipient');
            window.localStorage.removeItem('recipient')
            console.log(el);
        </script>
        <div class="list">
            <div class="item item-divider">
                Visit Information
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">PNCC's Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                <input type="date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Topics</span>
                <input type="text" placeholder="Topics">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Referrals Made</span>
                <input type="email" placeholder="Referrals">
            </label>
        </div>
        <div class="padding">
            <input type="button" class="button button-block button-positive" value="SAVE VISIT NOTE" onclick="">
            <input type="button" class="button button-block button-assertive" value="CANCEL" ng-click="toNewPage('journal.html', 'My Journal')">
        </div>
    </ion-content>
</ion-view>
