<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <script>header('Pill')</script>
    <ion-pane>
        <ion-subheader-bar class="bar bar-subheader">
            <h2 class="title">New Pill</h2>
        </ion-subheader-bar>
        <ion-view>
            <ion-content overflow-scroll="false" class="has-header has-subheader">
                <div class="col text-center padding-top">
                    <img style="width:90%; height:150px;" />
                </div>
                <div class="col padding-bottom text-right">
                    <img src="../img/temp/camera.png" style="width:30px; height:25px;" />
                </div>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Pill name</span>
                        <input type="text" placeholder="Pill name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">When should this pill be taken?</span>
                        <input type="time" placeholder="Time">
                    </label>
                </div>
                <center>
                    <div class="row">
                        <div class="col">
                            <img src="../img/temp/save.png" style="width:25px; height:25px;" />
                        </div>
                        <div class="col">
                            <img src="../img/temp/delete.png" style="width:25px; height:25px;" />
                        </div>
                    </div>
                </center>
            </ion-content>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
