<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        <h1 class="title" id="modalHeadline">Stressors</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header" ng-controller="TrackCtrl">
        <div class="row">
            <div class="col text-center">
                <input type="image" src="../img/stressors/family.png" ng-click="submitSet('1','stress');closeModal();" style="width:100px;height:100px;">
                <p>Family/Relationships</p>
            </div>
            <div class="col text-center">
                <input type="image" src="../img/stressors/housing.png" ng-click="submitSet('2','stress');closeModal();" style="width:100px;height:100px;">
                <p>Housing</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="image" src="../img/stressors/finances.png" ng-click="submitSet('3','stress');closeModal();" style="width:100px;height:100px;">
                <p>Finances</p>
            </div>
            <div class="col text-center">
                <input type="image" src="../img/stressors/domestic.png" ng-click="submitSet('4','stress');closeModal();" style="width:100px;height:100px;">
                <p>Domestic Violence</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="image" src="../img/stressors/material.png" ng-click="submitSet('5','stress');closeModal();" style="width:100px;height:100px;">
                <p>Material Needs</p>
            </div>
            <div class="col text-center">
            </div>
        </div>
    </ion-content>
</ion-modal-view>