<script src="../lib/moment/min/moment.min.js"></script>
<script src="../lib/fullcalendar/dist/fullcalendar.min.js"></script>
<link rel='stylesheet' href='../lib/fullcalendar/dist/fullcalendar.min.css' />
<ion-pane>
    <ion-view overflow-scroll="false">
        <ion-content  class="has-header has-footer padding" ng-controller="CalendarController">
            <div id='calendar' ng-init="showCalendar()"></div>
        </ion-content>
    </ion-view>
</ion-pane>
<ion-footer-bar class="bar-positive" style="padding:0px" ng-controller="CalendarController">
    <div class="col text-left"><button class="button button-icon icon ion-ios-cloud-upload-outline"></button></div>
    <div class="col text-right"><button class="button button-icon icon ion-ios-plus-outline" ng-click="createEvent('calendar.html', 'Calendar')"></button></div>
</ion-footer-bar>