<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="http://code.ionicframework.com/1.2.4/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script src="http://code.ionicframework.com/1.2.4/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/services.js"></script>
</head>
<body ng-app="starter" ng-controller="HeaderBarController">
    <ion-header-bar align-title="middle" class="bar-positive" ng-controller="HeaderBarController">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-home" ng-click="home()"></button>
        </div>
        <h1 class="title">MomLink</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-navicon-round" ng-click="toggleTopMenu()"></button>
        </div>
    </ion-header-bar>
    <ion-top-menu class="text-center has-header">
        <ion-content overflow-scroll="false">
            <div class="row">
                <div class="col"><img src="../img/buttons/btn-04.png" ng-click="mail()" style="width:75px;height:75px;vertical-align:middle" alt="Mail"><p>Mail</p></div>
                <div class="col"><img src="../img/buttons/btn-05.png" ng-click="calendar()" style="width:75px;height:75px;vertical-align:middle" alt="Calendar"><p>Calendar</p></div>
                <div class="col"><img src="../img/buttons/btn-06.png" ng-click="communities()" style="width:75px;height:75px;vertical-align:middle" alt="Communities"><p>Communities</p></div>
            </div>
            <div class="row">
                <div class="col"><img src="../img/buttons/btn-08.png" ng-click="track()" style="width:75px;height:75px;vertical-align:middle" alt="Track"><p>Track</p></div>
                <div class="col"><img src="../img/buttons/btn-07.png" ng-click="coupons()" style="width:75px;height:75px;vertical-align:middle" alt="Coupons"><p>Coupons</p></div>
                <div class="col"><img src="../img/buttons/btn-09.png" ng-click="content()" style="width:75px;height:75px;vertical-align:middle" alt="Communities"><p>Content</p></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><img src="../img/buttons/btn-12.png" ng-click="myProfile()" style="width:75px;height:75px;vertical-align:middle" alt="My Profile"><p>My Profile</p></div>
                <div class="col"><img src="../img/buttons/btn-11.png" ng-click="logout()" style="width:75px;height:75px;vertical-align:middle" alt="Logout"><p>Logout</p></div>
            </div>
        </ion-content>
    </ion-top-menu>
    <ion-pane>
        <ion-view overflow-scroll="false">

            <ion-nav-view></ion-nav-view>

                <ion-tabs class="has-header tabs-positive tabs-icon-top">
                    <ion-tab title="Monthly" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline">
                        <ion-view>
                            <ion-content class="has-header padding">

                                <center><div class="novavozila datepicker"></div></center>
                                    <script>
                                        $(function () {
                                            $(".datepicker").datepicker({
                                                inline: true,
                                                showOtherMonths: true
                                            });
                                        });
                                    </script>

                                <div class="row">
                                    <div class="col"><center><input id="obappt" class="col" type="image" src="../img/temp/obappt.PNG" style="width:50px;height:50px;vertical-align:middle" />OB Appt</center></div>
                                    <div class="col"><center><input id="tests" class="col" type="image" src="../img/temp/tests.PNG" style="width:50px;height:50px;vertical-align:middle" />Tests</center></div>
                                    <div class="col"><center><input id="visits" class="col" type="image" src="../img/temp/visits.PNG" style="width:50px;height:50px;vertical-align:middle" />Visits</center></div>
                                    <div class="col"><center><input id="ultra" class="col" type="image" src="../img/temp/ultra.PNG" style="width:50px;height:50px;vertical-align:middle" />Ultra</center></div>
                                    <div class="col"><center><input id="classes" class="col" type="image" src="../img/temp/classes.PNG" style="width:50px;height:50px;vertical-align:middle" />Classes</center></div>
                                </div>
                            </ion-content>
                        </ion-view>
                    </ion-tab>
                    <ion-tab title="Weekly" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
                        <ion-view>
                            <ion-content class="has-header padding">
                                <div class="row">
                                    <div class="col" style="border:2px solid black;">Monday</div>
                                    <div class="col" style="border:2px solid black;">Tuesday</div>
                                </div>
                                <div class="row">
                                    <div class="col" style="border:2px solid black;">Wednesday</div>
                                    <div class="col" style="border:2px solid black;">Thursday</div>
                                </div>
                                <div class="row">
                                    <div class="col" style="border:2px solid black;">Friday</div>
                                    <div class="col" style="border:2px solid black;">Saturday</div>
                                </div>
                                <div class="row">
                                    <div class="col" style="border:2px solid black;">Sunday</div>
                                    <div class="col" style="border:2px solid black;"></div>
                                </div>

                                <div class="row">
                                    <div class="col"><center><input id="obappt" class="col" type="image" src="../img/temp/obappt.PNG" style="width:50px;height:50px;vertical-align:middle" />OB Appt</center></div>
                                    <div class="col"><center><input id="tests" class="col" type="image" src="../img/temp/tests.PNG" style="width:50px;height:50px;vertical-align:middle" />Tests</center></div>
                                    <div class="col"><center><input id="visits" class="col" type="image" src="../img/temp/visits.PNG" style="width:50px;height:50px;vertical-align:middle" />Visits</center></div>
                                    <div class="col"><center><input id="ultra" class="col" type="image" src="../img/temp/ultra.PNG" style="width:50px;height:50px;vertical-align:middle" />Ultra</center></div>
                                    <div class="col"><center><input id="classes" class="col" type="image" src="../img/temp/classes.PNG" style="width:50px;height:50px;vertical-align:middle" />Classes</center></div>
                                </div> 
                            </ion-content>
                        </ion-view>
                    </ion-tab>
                    <ion-tab title="Add Event" ng-click="event()" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline">
                    </ion-tab>
                </ion-tabs>
        </ion-view>
    </ion-pane>
</body>
</html>
