<script src="../lib/moment/min/moment.min.js"></script>
<script src="../lib/fullcalendar/dist/fullcalendar.min.js"></script>
<link rel='stylesheet' href='../lib/fullcalendar/dist/fullcalendar.min.css' />
<ion-pane>
    <ion-view overflow-scroll="false">
        <ion-content class="has-header padding" ng-controller="CalendarController">
            <div id='calendar' ng-init="showCalendar()"></div>
            Filter by: <select id="filter">
                <optgroup label="Filter By">
                    <option value="all" selected>All</option>
                    <option value="0">Personal</option>
                    <option value="1">PNCC</option>
                </optgroup>
            </select>
        </ion-content>
        <div class="float-button" >
            <span class="height-fix">
                <button class="button button-positive button-rounded content" ng-click="createEvent('calendar.html', 'Calendar')"><i class="icon ion-plus-round"></i></button>
            </span>
        </div>
    </ion-view>
</ion-pane>
