<ion-pane>
    <ion-view overflow-scroll="true">
        <ion-content overflow-scroll="true" class="has-header" ng-controller="CarePlanCtrl" ng-init="renderCareplan()">
            <div id="careplan"></div>
        </ion-content>
        <div class="float-button">
            <span class="height-fix">
                <button class="button button-positive button-rounded content" ng-click="updateAllGoals()"><i class="icon ion-loop"></i></button>
            </span>
        </div>
    </ion-view>
</ion-pane>
