<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <ion-pane>
        <ion-view>
            <ion-content overflow-scroll="false" class="has-header">
                <div class="row">
                    <div class="col centerVH">
                        <img src="../img/temp/crib.png" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Crib">
                        <p>Crib</p>
                    </div>
                    <div class="col centerVH">
                        <img src="../img/temp/infantCarrier.png" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Infant Carrier">
                        <p>Infant Carrier</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col centerVH">
                        <img src="../img/temp/packAndPlay.png" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Pack and Play">
                        <p>Pack and Play</p>
                    </div>
                    <div class="col centerVH">
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
