<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderCtrl">
    <script type="text/javascript" src="../js/header.js"></script>
    <script>header('Education')</script>
    <ion-pane>
        <ion-view overflow-scroll="false">
            <ion-nav-view></ion-nav-view>
            <ion-tabs class="has-header tabs-positive tabs-icon-top" ng-controller="EducationController">
                <ion-tab title="Shared Articles" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
                    <ion-view>
                        <ion-content overflow-scroll="false" class="has-header" ng-init="showShared()">
                            <div id="shared"></div>
                        </ion-content>
                    </ion-view>
                </ion-tab>
                <ion-tab title="History" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
                    <ion-view>
                        <ion-content overflow-scroll="false" class="has-header" ng-init="showHistory()">
                            <div id="history"></div>
                        </ion-content>
                    </ion-view>
                </ion-tab>
                <ion-tab title="Online Library" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
                    <ion-view>
                        <ion-content overflow-scroll="false" class="has-header padding">
                            <iframe src="https://momlink.crc.nd.edu/MomLink-PNCC/topics.php" style="width:100%; height:100%;"></iframe>
                        </ion-content>
                    </ion-view>
                </ion-tab>
            </ion-tabs>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
