<div class="list" ng-controller="CalendarController">
    <label class="item item-input">
        <span class="input-label">Title</span>
        <input id="title" type="text">
    </label>
    <label class="item item-input item-select">
        Type
        <select id="type">
            <option disabled="true" selected>Choose One</option>
            <option value="OB Appt">OB Appt</option>
            <option value="Test">Test</option>
            <option value="Visit">Visit</option>
            <option value="Ultra">Ultra</option>
            <option value="Class">Class</option>
            <option value="Other">Other</option>
        </select>
    </label>
    <label class="item item-input">
        <span class="input-label">Date</span>
        <input id="date" type="date">
    </label>
    <label class="item item-input">
        <span class="input-label">Start Time</span>
        <input id="start" type="time">
    </label>
    <label class="item item-input">
        <span class="input-label">End Time</span>
        <input id="end" type="time">
    </label>
    <label class="item item-input">
        <span class="input-label">Location</span>
        <input id="venue" type="text">
    </label>
    <label class="item item-input">
        <textarea id="description" rows="4" placeholder="Notes"></textarea>
    </label>
</div>
