<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();">Cancel</button>
        <h1 class="title" id="headline">Create Event</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" ng-controller="CalendarCtrl">
        <div id="eventPart1" class="list">
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input id="title" type="text">
            </label>
            <label class="item item-input item-select">
                Type
                <select id="type">
                    <option disabled="true" selected>Choose One</option>
                    <option value="OB Appt">OB Appt</option>
                    <option value="Lab">Lab</option>
                    <option value="Referral">Referral</option>
                    <option value="PNCC">PNCC</option>
                    <option value="Ultra">Ultra</option>
                    <option value="Class">Class</option>
                    <option value="Other">Other</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input id="date" type="date">
            </label>
            <label class="item item-input">
                <span class="input-label">Start Time</span>
                <input id="start" type="time">
            </label>
            <label class="item item-input">
                <span class="input-label">End Time</span>
                <input id="end" type="time">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input id="venue" type="text">
            </label>
            <div class="col text-center">
                <input type="button" class="button button-block button-positive" value="NEXT" ng-click="goToEventPart2()">
            </div>
        </div>
        <div id="eventPart2" class="list" style="display:none">
            <div class="item item-divider">
                Add questions to address at the meeting
            </div>
            <div class="item item-checkbox">Q1<label class="checkbox"><input type="checkbox" name="Q" value="Q1"></label></div>
            <div class="item item-checkbox">Q2<label class="checkbox"><input type="checkbox" name="Q" value="Q2"></label></div>
            <div class="item item-checkbox">Q3<label class="checkbox"><input type="checkbox" name="Q" value="Q3"></label></div>
            <label class="item item-input">
                <textarea id="description" rows="4" placeholder="Notes"></textarea>
            </label>
            <div class="col text-center">
                <input type="button" class="button button-block button-positive" value="SAVE" ng-click="saveEvent()">
                <input type="button" class="button button-block button-stable" value="BACK" ng-click="goToEventPart1()">
            </div>
        </div>
    </ion-content>
</ion-modal-view>