<script src="../lib/jquery.ddslick.js"></script>
<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();">Cancel</button>
        <h1 class="title" id="modalHeadline">Create Event</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" ng-controller="CalendarCtrl" ng-init="renderEventQuestions()">
        <div id="eventPart1" class="list">
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input id="title" type="text">
            </label>
            <div id="type" class="item item-divider">Category (choose one of the following)</div>
            <div class="row text-center">
                <div id="OB Appt" class="col" ng-click="selectCategory('OB Appt')"><img src="../img/mainIcons/momlink_icon-16.png" style="max-width:100%;height:auto;vertical-align:middle">OB Appt</div>
                <div id="Lab" class="col" ng-click="selectCategory('Lab')"><img src="../img/mainIcons/momlink_icon-16.png" style="max-width:100%;height:auto;vertical-align:middle">Lab</div>
                <div id="Referral" class="col" ng-click="selectCategory('Referral')"><img src="../img/mainIcons/momlink_icon-16.png" style="max-width:100%;height:auto;vertical-align:middle">Referral</div>
                <div id="PNCC" class="col" ng-click="selectCategory('PNCC')"><img src="../img/mainIcons/momlink_icon-16.png" style="max-width:100%;height:auto;vertical-align:middle">PNCC</div>
            </div>
            <div class="row text-center">
                <div id="Ultra" class="col" ng-click="selectCategory('Ultra')"><img src="../img/mainIcons/momlink_icon-16.png" style="max-width:100%;height:auto;vertical-align:middle">Ultra</div>
                <div id="Class" class="col" ng-click="selectCategory('Class')"><img src="../img/mainIcons/momlink_icon-16.png" style="max-width:100%;height:auto;vertical-align:middle">Class</div>
                <div id="Other" class="col" ng-click="selectCategory('Other')"><img src="../img/mainIcons/momlink_icon-16.png" style="max-width:100%;height:auto;vertical-align:middle">Other</div>
                <div class="col"></div>
            </div>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input id="date" type="date">
            </label>
            <label class="item item-input">
                <span class="input-label">Start Time</span>
                <input id="start" type="time">
            </label>
            <label class="item item-input">
                <span class="input-label">End Time</span>
                <input id="end" type="time">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input id="venue" type="text">
            </label>
            <div class="col text-center">
                <input type="button" class="button button-block button-positive" value="NEXT" ng-click="goToEventPart2()">
            </div>
        </div>
        <div id="eventPart2" class="list" style="display:none">
            <div class="item item-divider">
                Add questions to address at the meeting
            </div>
            <div id="eventQuestions"></div>
            <a class="item" ng-click="addQuestion()"><i class="ion-plus-round"></i> Add new question</a>
            <label class="item item-input">
                <textarea id="description" rows="4" placeholder="Notes"></textarea>
            </label>
            <div class="col text-center">
                <input type="button" class="button button-block button-positive" value="SAVE" ng-click="saveEvent()">
                <input type="button" class="button button-block button-stable" value="BACK" ng-click="goToEventPart1()">
            </div>
        </div>
    </ion-content>
</ion-modal-view>