<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <ion-view>
        <ion-content overflow-scroll="false" style="background-color:#0866c6">
            <center>
                <div class="row padding-top">
                    <div class="col-25 col-offset-10">
                        <img src="../img/temp/create.PNG" height="75" width="75" alt="Create Account">
                    </div>
                    <div class="col text-left">
                        <p style="color:lightsteelblue;">PASSWORD RECOVERY</p>
                        <p style="font-size: 125%; color:white;">ENTER YOUR EMAIL</p>
                    </div>
                </div>
            </center>
            <div class="list list-inset">
                <div class="item item-divider">
                    Email Address
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Email">
                </label>
            </div>
            <div class="padding">
                <input type="button" class="button button-block button-positive" value="SEND" ng-onclick="">
                <input type="button" class="button button-block button-positive" value="BACK TO LOGIN" onclick="window.location = '../index.html'">
            </div>
        </ion-content>
    </ion-view>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>