<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" bgcolor="#0866c6" ng-controller="HeaderBarController">
    <div class="row">
        <div class="col-25 col-offset-10">
            <img src="../img/temp/create.png" height="75" width="75" alt="Create Account">
        </div>
        <div class="col">
            <p style="color:lightsteelblue;">PASSWORD RECOVERY</p>
            <p style="font-size: 125%; color:white;">ENTER YOUR EMAIL</p>
        </div>
    </div>
    <br />
    <p style="text-indent: 5px; color:lightsteelblue;">EMAIL ADDRESS</p>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Email">
        </label>
    </div>
    <center>
        <div class="padding">
            <input type="button" class="button button-block button-positive" value="SEND" ng-onclick="">
            <input type="button" class="button button-block button-positive" value="Back to Login" onclick="window.location = '../index.html'">
        </div>
    </center>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>