<div class="row" ng-controller="AddSubController">
    <div class="col text-center">
        <div class="col text-right">
            <p id="count12" style="font-size: 30px; line-height: 30px;">0</p>
        </div>
        <div class="col text-center">
            <img src="../img/handportions/fruitVeg12.png" style="width:75px; height:100px;"/>
        </div>
        <div class="row">
            <div class="col text-center">                            
                <img type="button" src="../img/temp/tanminus.png" id="minus" ng-click="plusMinus('minus','count12')" style="width:30px;height:30px;">
            </div>
            <div class="col text-center">
                <img type="button" src="../img/temp/tanplus.png" id="plus" ng-click="plusMinus('plus','count12')" style="width:30px;height:30px;">
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="col text-right">
            <p id="count1" style="font-size: 30px; line-height: 30px;">0</p>
        </div>
        <div class="col text-center">
            <img src="../img/handportions/fruitVeg1.png" style="width:75px; height:100px;" />
        </div>
        <div class="row">
            <div class="col text-center">
                <img type="button" src="../img/temp/tanminus.png" id="minus" ng-click="plusMinus('minus','count1')" style="width:30px;height:30px;">
            </div>
            <div class="col text-center">
                <img type="button" src="../img/temp/tanplus.png" id="plus" ng-click="plusMinus('plus','count1')" style="width:30px;height:30px;">
            </div>
        </div>
    </div>
</div>

