<ion-pane ng-controller="TrackCtrl">
    <ion-subheader-bar id="subheader" class="bar bar-subheader" ng-init="renderSubheaderDate()">
        <button class="button button-icon icon ion-reply" ng-click="toNewPage('track.html','Track')"></button>
        <h2 class="title" id="todaysDate"></h2>
    </ion-subheader-bar>
    <ion-view>
        <ion-content overflow-scroll="true" class="has-header has-subheader" ng-init="loadHistory()" on-swipe-left="increaseDate(); loadHistory()" on-swipe-right="decreaseDate(); loadHistory()">
            <div id="history"></div>
        </ion-content>
        <div class="float-button-left-hasFooter">
            <span class="height-fix">
                <button class="button button-positive button-rounded content" ng-click="clientUpdates()"><i class="icon ion-loop"></i></button>
            </span>
        </div>
        <div class="float-button">
            <span class="height-fix">
                <button class="button button-positive button-rounded content" ng-click="goToAddEvent()"><i class="icon ion-plus-round"></i></button>
            </span>
        </div>
    </ion-view>
</ion-pane>

