<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <ion-pane>
        <ion-view overflow-scroll="false">

            <ion-nav-view></ion-nav-view>
               
                <ion-tabs class="has-header tabs-positive tabs-icon-top">
                    <ion-tab title="Inbox" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                        <ion-view>
                            <ion-content class="has-header padding">
                                <p>
                                    Inbox
                                </p>
                            </ion-content>
                        </ion-view>
                    </ion-tab>
                    <ion-tab title="Nutrition" icon-on="ion-ios-nutrition" icon-off="ion-ios-nutrition-outline">
                        <ion-view>
                            <ion-content class="has-header padding">
                                <p>
                                    Nutrition
                                </p>
                            </ion-content>
                        </ion-view>
                    </ion-tab>
                    <ion-tab title="Appointment" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline">
                        <ion-view>
                            <ion-content class="has-header padding">
                                <p>
                                    Appointment
                                </p>
                            </ion-content>
                        </ion-view>
                    </ion-tab>
                    <ion-tab title="Classes" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
                        <ion-view>
                            <ion-content class="has-header padding">
                                <p>
                                    Classes
                                </p>
                            </ion-content>
                        </ion-view>
                    </ion-tab>
                </ion-tabs>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
