﻿    <ion-pane>
    <ion-view overflow-scroll="false">
        <ion-nav-view></ion-nav-view>
        <ion-tabs class="has-header tabs-positive tabs-icon-top" ng-controller="JournalController">
            <ion-tab title="Notes" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
                <ion-view>
                    <ion-content overflow-scroll="false" class="has-header" ng-init="showNotes()">
                        <div id="notes"></div>
                    </ion-content>
                    <div class="float-button-tabs">
                        <span class="height-fix">
                            <button class="button button-positive button-rounded content" ng-click="createNote('journal.html', 'My Journal')"><i class="icon ion-plus-round"></i></button>
                        </span>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="Photo Journal" icon-on="ion-ios-grid-view" icon-off="ion-ios-grid-view" ng-controller="CameraController" ng-init="initializeDevice()">
                <ion-view>
                    <ion-content overflow-scroll="false" class="has-header" ng-init="renderPhotoJournal()">
                        <div id="photoJournal"></div>
                    </ion-content>
                    <div class="float-button-tabs">
                        <span class="height-fix">
                            <button class="button button-positive button-rounded content" ng-click="capturePhoto('journal', 'date')"><i class="icon ion-plus-round"></i></button>
                        </span>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="PNCC Visits" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline">
                <ion-view>
                    <ion-content overflow-scroll="false" class="has-header" ng-init="showVisits()">
                        <div id="pnccVisits"></div>
                    </ion-content>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-view>
</ion-pane>
