<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="../js/subheader.js"></script>
        <ion-view>
            <ion-content overflow-scroll="false" class="has-header has-subheader">
                <ion-slides options="options" slider="data.slider" style="height: 80px; background-color:deeppink;">
                    <ion-slide-page>
                        <div class="centerWhite">Appointments</div>
                    </ion-slide-page>
                    <ion-slide-page>
                        <div class="centerWhite"></div>
                    </ion-slide-page>
                    <ion-slide-page>
                        <div class="centerWhite"></div>
                    </ion-slide-page>
                </ion-slides>
                <center>
                    <div class="row">
                        <div class="col"><a href="inbox.html"><img src="../img/buttons/btn-04.png" style="width:75px;height:75px;vertical-align:middle" alt="Mail"></a><p>Mail</p></div>
                        <div class="col"><a href="calendar.html"><img src="../img/buttons/btn-05.png" style="width:75px;height:75px;vertical-align:middle" alt="Calendar"></a><p>Calendar</p></div>
                        <div class="col"><a href="referrals.html"><img src="../img/buttons/btn-06.png" style="width:75px;height:75px;vertical-align:middle" alt="Referrals"></a><p>Referrals</p></div>
                    </div>
                    <div class="row">
                        <div class="col"><a href="track.html"><img src="../img/buttons/btn-08.png" style="width:75px;height:75px;vertical-align:middle" alt="Track"></a><p>Track</p></div>
                        <div class="col"><a href="coupons.html"><img src="../img/buttons/btn-07.png" style="width:75px;height:75px;vertical-align:middle" alt="Coupons"></a><p>Coupons</p></div>
                        <div class="col"><a href="education.html"><img src="../img/buttons/btn-09.png" style="width:75px;height:75px;vertical-align:middle" alt="Education"></a><p>Education</p></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"><a href="myProfile.html"><img src="../img/buttons/btn-12.png" style="width:75px;height:75px;vertical-align:middle" alt="My Profile"></a><p>My Profile</p></div>
                        <div class="col"><img src="../img/buttons/btn-11.png" ng-click="logout()" style="width:75px;height:75px;vertical-align:middle" alt="Logout"><p>Logout</p></div>
                    </div>
                </center>
            </ion-content>
        </ion-view>
    <script type="text/javascript" src="../js/subheaderEnd.js"></script>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
