<script>
    var el = window.localStorage.getItem('recipient');
</script>
<div class="list">
    <label class="item item-input">
        <span class="input-label">Subject</span>
        <input type="text">
    </label>
    <div class="row">
        <div class="col text-right">
            <img src="../img/temp/mic.png" ng-onclick="" style="width:30px; height:25px;" />
            <img src="../img/temp/clip.png" ng-onclick="" style="width:30px; height:25px;" />
            <img src="../img/temp/camera.PNG" ng-onclick="takePicture()" style="width:30px; height:25px;" />
        </div>
    </div>
    <label class="item item-input">
        <textarea rows="5" placeholder="Message"></textarea>
    </label>
</div>