<ion-modal-view>
    <ion-header-bar align-title="middle" class="bar-positive">
        <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        <h1 class="title" id="modalHeadline">Create Message</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" ng-controller="InboxCtrl">
        <div>
            <label class="item item-input">
                <textarea id="messageContent" rows="4" placeholder="Message"></textarea>
            </label>
            <div class="col text-center">
                <input type="button" class="button button-block button-positive" value="SEND" ng-click="saveMessage();">
            </div>
        </div>
    </ion-content>
</ion-modal-view>