<div class="has-footer">
<p><b>BP Problems During Pregnancy, Heart Trouble Later?</b></p>
<p>By Robert Preidt</p>
<p>HealthDay Reporter</p>
<p>MONDAY, June 27, 2016 (HealthDay News) -- Pregnant women who have blood pressure in the high-normal range may have an increased risk for metabolic syndrome after they give birth, a new study indicates.</p>
<p>Metabolic syndrome -- which increases the risk of heart disease -- is defined as having three or more of the following conditions: abdominal obesity; high triglyceride levels; low levels of "good" HDL cholesterol; high blood pressure (hypertension); and high blood sugar.</p>
<p>The study included 507 pregnant women in China with no history of high blood pressure. Thirty-four percent had blood pressure in the low-normal range throughout pregnancy, 52 percent had mid-normal range readings, and 13 percent had high-normal (pre-hypertension) readings.</p>
<p>Those with high-normal blood pressure throughout pregnancy were 6.5 times more likely to develop metabolic syndrome after giving birth than those with blood pressure in the low-normal range, the study found.</p>
<p>It's the first study to show that high-normal blood pressure over time during pregnancy is associated with increased risk of later development of metabolic syndrome, the study authors said. However, the study wasn't designed to prove a cause-and-effect connection.</p>
<p>The study was published June 27 in the journal Hypertension.</p>
<p>"Our findings underscore an important issue that has been long ignored in clinical practice -- the fact that criteria for hypertension in pregnancy are derived from the general population," said lead investigator Dr. Jian-Min Niu, at Guangdong Women and Children Hospital in China.</p>
<p>"We anticipate that if reaffirmed in further research, our study could spark a change in what we currently deem healthy blood pressure in pregnant women," Niu added in a journal news release.</p>
<p>Niu pointed out that blood pressure measurements are commonly done as part of routine pregnancy check-ups. So, it would be easy and cost-effective to use this information to assess a woman's risk of later heart disease and stroke.</p>
<p>"Early identification of metabolic risk factors and implementation of lifestyle modifications may help delay the onset of cardiovascular disease that would present itself 20 to 30 years after delivery," the researcher concluded.</p>
<br />
<br />
<br />
</div>