<div ng-controller="HeaderCtrl">
    <div class="text-center" ng-controller="NutritionCtrl">
        <img src="../img/food/food-34.png" ng-click="showAmount('fluids', 'subcategory', '', '../img/food/liquid_serving-02.png', '../img/food/liquid_serving-01.png')" style="width:100px; height:100px" />
        <img src="../img/food/food-42.png" ng-click="showAmount('fluids', 'subcategory', '', '../img/food/half-cup.png', '../img/food/one-cup.png')" style="width:100px; height:100px" />
    </div>
</div>
