<div ng-controller="HeaderCtrl">
    <div ng-controller="NutritionCtrl">
        <div class="text-center">
            <img src="../img/food/food-28.png" ng-click="showAmount('vegetables', 'solid', '../img/servingInfo/infoVegetables.png', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png')" style="width:100px; height:100px" />
            <img src="../img/food/food-45.png" ng-click="showAmount('vegetables', 'soup', '../img/servingInfo/infoVegetables.png', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png')" style="width:100px; height:100px" />
        </div>
        <div class="text-center">
            <img src="../img/food/food-31.png" ng-click="showAmount('vegetables', 'liquid', '../img/servingInfo/infoVegetables.png', '../img/food/liquid_serving-06.png', '../img/food/liquid_serving-05.png')" style="width:100px; height:100px" />
            <img src="../img/food/food-44.png" ng-click="showAmount('vegetables', 'salad', '../img/servingInfo/infoVegetables.png', '../img/handPortions/handPortions-08.png', '../img/handPortions/handPortions-07.png')" style="width:100px; height:100px" />
        </div>
    </div>
</div>