<div ng-controller="HeaderCtrl">
    <div class="text-center" ng-controller="NutritionCtrl">
        <img src="../img/food/food-29.png" ng-click="showAmount('fruits', 'solid', '../img/servingInfo/infoFruit.png', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png');" style="width:100px; height:100px" />
        <img src="../img/food/food-30.png" ng-click="showAmount('fruits', 'liquid', '../img/servingInfo/infoFruit.png', 'halfServingImg', 'wholeServingImg');" style="width:100px; height:100px" />
    </div>
</div>