<div ng-controller="HeaderCtrl">
    <div class="text-center" ng-controller="NutritionCtrl">
        <div class="row text-center">
            <img src="../img/food/food-26.png" ng-click="showAmount('dairy', 'cheese', '../img/servingInfo/infoDairy.png', '../img/handPortions/handPortions-14.png', '../img/handPortions/handPortions-19.png')" style="width:100px; height:100px" />
            <img src="../img/food/food-27.png" ng-click="showAmount('dairy', 'milk', '../img/servingInfo/infoDairy.png', '../img/food/liquid_serving-08.png', '../img/food/liquid_serving-07.png')" style="width:100px; height:100px" />
        </div>
        <div class="row text-center">
            <img src="../img/food/yogurt.png" ng-click="showAmount('dairy', 'yogurt', '../img/servingInfo/infoDairy.png', '../img/handPortions/handPortions-14.png', '../img/handPortions/handPortions-19.png')" style="width:100px; height:100px" />
        </div>
    </div>
</div>