<div ng-controller="HeaderCtrl">
    <div ng-controller="NutritionCtrl">
        <div class="row text-center">
            <img class="col" src="../img/food/food-32.png" ng-click="showAmount('grains', 'bread', '../img/servingInfo/infoGrains.png', '../img/handPortions/handPortions-13.png', '../img/handPortions/handPortions-12.png', '../img/handPortions/handPortions-17.png')" style="width:100px; height:100px" />
            <img class="col" src="../img/food/food-50.png" ng-click="showAmount('grains', 'rice', '../img/servingInfo/infoGrains.png', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png')" style="width:100px; height:100px" />
        </div>
        <div class="row text-center">
            <img class="col" src="../img/food/food-50.png" ng-click="showAmount('grains', 'rice', '../img/servingInfo/infoGrains.png', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png')" style="width:100px; height:100px" />
            <img class="col" src="../img/food/food-33.png" ng-click="showAmount('grains', 'cereal', '../img/servingInfo/infoGrains.png', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png')" style="width:100px; height:100px" />
        </div>
        <div class="row text-center">
            <img class="col" src="../img/food/food-48.png" ng-click="showAmount('grains', 'noodles', '../img/servingInfo/infoGrains.png', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png')" style="width:100px; height:100px" />
            <div class="col" style="width:100px; height:100px; border:none"></div>
        </div>
    </div>
</div>