<div ng-controller="HeaderCtrl">
    <div ng-controller="NutritionCtrl">
        <div class="text-center">
            <img src="../img/food/food-36.png" ng-click="showAmount('proteins', 'beans', '../img/handPortions/handPortions-09.png', '../img/handPortions/handPortions-08.png', '../img/handPortions/handPortions-07.png')" style="width:100px; height:100px" />
            <img src="../img/food/food-45.png" ng-click="showAmount('proteins', 'soup', '../img/handPortions/handPortions-11.png', '../img/handPortions/handPortions-10.png')" style="width:100px; height:100px" />
        </div>
        <div class="text-center">
            <img src="../img/food/food-37.png" ng-click="showAmount('proteins', 'eggs', '../img/handPortions/handPortions-13.png', '../img/handPortions/handPortions-12.png')" style="width:100px; height:100px" />
            <img src="../img/food/food-35.png" ng-click="showAmount('proteins', 'solid', '../img/handPortions/handPortions-13.png', '../img/handPortions/handPortions-12.png', '../img/handPortions/handPortions-17.png')" style="width:100px; height:100px" />
        </div>
    </div>
</div>