<ion-pane>
<ion-subheader-bar class="bar bar-subheader" style="border:0;">
    <script id="popover.html" type="text/ng-template">
        <ion-popover-view>
            <div class="padding">
                Use the checkboxes on the left to indicate you have followed up with the contact.
            </div>
        </ion-popover-view>
    </script>
    <div class="row no-padding" ng-controller="PopOverController">
        <div class="col no-padding text-right">
            <button class="button button-icon icon ion-information-circled" ng-click="openPopover($event)"></button>
        </div>
    </div>
</ion-subheader-bar>
<ion-content overflow-scroll="false" class="has-header has-subheader" ng-controller="DataController">
    <ul>
        <li ng-repeat="item in referList">
            <div class="row no-padding">
                <div class="col">
                    <ion-checkbox ng-model="isChecked">
                        <p style="font-weight: bold">{{item.name}}</p>
                        <p>Reffered on {{item.referDate}}</p>
                        <p>Address: {{item.address}}</p>
                        <p>Phone: {{item.phone}}</p>
                        <p>Email: {{item.email}}</p>
                    </ion-checkbox>
                </div>
            </div>
        </li>
    </ul>
</ion-content>
</ion-pane>