<ion-content overflow-scroll="false" style="background-color:#0866c6">
    <center>
        <div class="row padding-top">
            <div class="col-25 col-offset-10">
                <img src="img/temp/create.PNG" height="75" width="75" alt="Create Account">
            </div>
            <div class="col text-left">
                <p style="color:lightsteelblue;">YOUR INFORMATION</p>
                <p style="font-size: 125%; color:white;">CREATE YOUR ACCOUNT</p>
            </div>
        </div>
    </center>
    <div class="list list-inset">
        <div class="item item-divider">
            Login Information
        </div>
        <label class="item item-input">
            <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Password">
        </label>
    </div>
    <div class="list list-inset">
        <div class="item item-divider">
            User Information
        </div>
        <label class="item item-select">
            <select name="securityQ">
                <option selected disabled value="">Choose a security question...</option>
                <option value="mother">What is your mother's maiden name?</option>
                <option value="pet">What is the name of your first pet?</option>
                <option value="music">What is the name of your first music album?</option>
                <option value="city">Which city were you born in?</option>
                <option value="school">What is the name of your first school?</option>
            </select>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Security Answer">
        </label>
        <label class="item item-input">
            <input type="email" placeholder="Email">
        </label>
    </div>
    <div class="padding">
        <input type="button" class="button button-block button-positive" value="REGISTER" ng-click="">
        <input type="button" class="button button-block button-positive" value="BACK TO LOGIN" ng-click="goToLink('index.html')">
    </div>
</ion-content>
