﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="http://code.ionicframework.com/1.2.4/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <script src="http://code.ionicframework.com/1.2.4/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/services.js"></script>
</head>
<body ng-app="starter" bgcolor="#0866c6" ng-controller="HeaderBarController">
    <div class="row">
        <div class="col-25 col-offset-10">
            <img src="../img/temp/create.png" height="75" width="75" alt="Create Account">
        </div>
        <div class="col">
            <p style="color:lightsteelblue;">YOUR INFORMATION</p>
            <p style="font-size: 125%; color:white;">CREATE YOUR ACCOUNT</p>
        </div>
    </div>
    <br />
        <p style="text-indent: 5px; color:lightsteelblue;">LOGIN INFORMATION</p>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
        </div>

        <p style="text-indent: 5px; color:lightsteelblue;">USER INFORMATION</p>
        <div class="list list-inset">
            <label class="item item-select">
                <select name="securityQ">
                    <option selected disabled value="">Choose a security question...</option>
                    <option value="mother">What is your mother's maiden name?</option>
                    <option value="pet">What is the name of your first pet?</option>
                    <option value="music">What is the name of your first music album?</option>
                    <option value="city">Which city were you born in?</option>
                    <option value="school">What is the name of your first school?</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Security Answer">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-select">
                <select name="agency">
                    <option selected disabled value="">Choose a your agency</option>
                    <option value="mother">Memorial Hospital</option>
                </select>
            </label>
        </div>

        <center>
            <div class="padding">
                <button class="button button-positive" ng-onclick="register()">
                    REGISTER
                </button>
            </div>
            <br />
            <a href="../index.html" style="font-size: 105%; color:lightsteelblue;">
                Back to Login
            </a>
        </center>
</body>
</html>