<ion-pane>
    <ion-view>
        <ion-content overflow-scroll="true" class="has-header" ng-controller="SettingsCtrl" ng-init="listTrackers()">
            <div id="trackers"></div>
            <div class="padding-left padding-right">
                <input type="button" class="button button-block button-positive" value="UPDATE" ng-click="updateTrackList()">
                <input type="button" class="button button-block button-assertive" value="CANCEL" ng-click="toNewPage('home.html', 'Momlink')">
            </div>
        </ion-content>
    </ion-view>
</ion-pane>
