<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <ion-pane>
        <ion-view>
            <ion-content overflow-scroll="false" class="has-header">
                <div class="row">
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Baby Heart Rate">
                        <p>Baby heart rate</p>
                    </div>
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Blood glucose">
                        <p>Blood glucose</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Blood iron">
                        <p>Blood iron</p>
                    </div>
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Blood pressure">
                        <p>Blood pressure</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col centerVH">
                        <img src="../img/temp/nutrition.png" ng-click="trackFood()" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Diet">
                        <p>Diet</p>
                    </div>
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Fluid">
                        <p>Fluid</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col centerVH">
                        <img src="../img/temp/mood.png" ng-click="trackMoods()" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Mood">
                        <p>Mood</p>
                    </div>
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Pain">
                        <p>Pain</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Physical Activity">
                        <p>Physical Activity</p>
                    </div>
                    <div class="col centerVH">
                        <img src="../img/temp/pills.png" ng-click="trackPills()" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Pills">
                        <p>Pills</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col centerVH">
                        <img src="" ng-click="" style="width:100px;height:100px;vertical-align:middle; border:1px solid black;" alt="Weight">
                        <p>Weight</p>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
