<script type="text/javascript" src="../js/load_essentials.js"></script>
<body ng-app="starter" ng-controller="HeaderBarController">
    <script type="text/javascript" src="../js/header.js"></script>
    <ion-pane>
        <ion-subheader-bar class="bar bar-subheader">
            <h2 class="title" id="todaysDate"></h2>
            <script>
                var d = new Date(),
                    date = d.getDate(),
                    month = "Jan,Feb,Mar,Apr,May,June,July,Aug,Sept,Oct,Nov,Dec".split(",")[d.getMonth()];
                function nth(d) {
                    if (d > 3 && d < 21) return 'th';
                    switch (d % 10) {
                        case 1: return "st";
                        case 2: return "nd";
                        case 3: return "rd";
                        default: return "th";
                    }
                }
                document.getElementById("todaysDate").innerHTML = "Today, " + month + " " + date + nth(date) + " " + d.getFullYear();
            </script>
        </ion-subheader-bar>

        <ion-view>
            <ion-content overflow-scroll="false" class="has-header has-subheader">
                <!--Display meal summary for today-->

                <div class="row" ng-controller="PopupCtrl">
                    <img class="padding" ng-click="uploadFood()" src="/../img/temp/cloud.png" style="width:60px;height:50px; position:absolute; left:10px;" />
                    <img class="padding" ng-click="addFood()" src="/../img/icons/btn_t-09.png" style="width:50px;height:50px; position:absolute; right:10px;" />
                </div>
            </ion-content>
        </ion-view>
    </ion-pane>
</body>
<script type="text/javascript" src="../js/load_essentialsEnd.js"></script>
