<ion-pane>
    <ion-view>
        <ion-content overflow-scroll="true" class="has-header">
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-03.png" ng-click="goToHistory('addActivity')" name="type" style="max-width:100%;height:auto;">
                    <p>Activity</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-04.png" ng-click="goToHistory('addBabyHeartRate')" name="type" style="max-width:100%;height:auto;">
                    <p>Baby Heart Rate</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-07.png" ng-click="goToHistory('addBloodGlucose')" name="type" style="max-width:100%;height:auto;">
                    <p>Blood Glucose</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-08.png" ng-click="goToHistory('addBloodIron')" name="type" style="max-width:100%;height:auto;">
                    <p>Blood Iron</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-11.png" ng-click="goToHistory('addBloodPressure')" name="type" style="max-width:100%;height:auto;">
                    <p>Blood Pressure</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-12.png" ng-click="goToHistory('addCaffeine')" name="type" style="max-width:100%;height:auto;">
                    <p>Caffeine</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-14.png" ng-click="goToHistory('addCigarette')" name="type" style="max-width:100%;height:auto;">
                    <p>Cigarettes</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-15.png" ng-click="goToHistory('addNutrition')" name="type" style="max-width:100%;height:auto;">
                    <p>Nutrition</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-05.png" ng-click="goToHistory('addKicks')" name="type" style="max-width:100%;height:auto;">
                    <p>Kicks</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-09.png" ng-click="goToHistory('addMood')" name="type" style="max-width:100%;height:auto;">
                    <p>Mood</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-13.png" ng-click="goToHistory('addPain')" name="type" style="max-width:100%;height:auto;">
                    <p>Pain</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-16.png" ng-click="goToHistory('addPill')" name="type" style="max-width:100%;height:auto;">
                    <p>Pills</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-06.png" ng-click="goToHistory('addStress')" name="type" style="max-width:100%;height:auto;">
                    <p>Stressors</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/track-icons-10.png" ng-click="goToHistory('addWeight')" name="type" style="max-width:100%;height:auto;">
                    <p>Weight</p>
                </div>
                <div class="col">
                </div>
            </div>
        </ion-content>
    </ion-view>
</ion-pane>