<ion-pane>
    <ion-view>
        <ion-content overflow-scroll="true" class="has-header" ng-controller="TrackCtrl" ng-init="showTrackers()">
            <div id="trackers"></div>
            <!---<div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/activity.png" ng-click="goToHistory('addActivity')" name="type" style="max-width:100%;height:auto;">
                    <p>Activity</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/babyHeartRate.png" ng-click="goToHistory('addBabyHeartRate')" name="type" style="max-width:100%;height:auto;">
                    <p>Baby Heart Rate</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/bloodGlucose.png" ng-click="goToHistory('addBloodGlucose')" name="type" style="max-width:100%;height:auto;">
                    <p>Blood Glucose</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/bloodIron.png" ng-click="goToHistory('addBloodIron')" name="type" style="max-width:100%;height:auto;">
                    <p>Blood Iron</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/bloodPressure.png" ng-click="goToHistory('addBloodPressure')" name="type" style="max-width:100%;height:auto;">
                    <p>Blood Pressure</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/caffeine.png" ng-click="goToHistory('addCaffeine')" name="type" style="max-width:100%;height:auto;">
                    <p>Caffeine</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/cigarettes.png" ng-click="goToHistory('addCigarettes')" name="type" style="max-width:100%;height:auto;">
                    <p>Cigarettes</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/nutrition.png" ng-click="goToHistory('addNutrition')" name="type" style="max-width:100%;height:auto;">
                    <p>Nutrition</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/kicks.png" ng-click="goToHistory('addKicks')" name="type" style="max-width:100%;height:auto;">
                    <p>Kicks</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/mood.png" ng-click="goToHistory('addMood')" name="type" style="max-width:100%;height:auto;">
                    <p>Mood</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/pain.png" ng-click="goToHistory('addPain')" name="type" style="max-width:100%;height:auto;">
                    <p>Pain</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/pills.png" ng-click="goToHistory('addPill')" name="type" style="max-width:100%;height:auto;">
                    <p>Pills</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="image" src="../img/trackers/stressors.png" ng-click="goToHistory('addStress')" name="type" style="max-width:100%;height:auto;">
                    <p>Stressors</p>
                </div>
                <div class="col text-center">
                    <input type="image" src="../img/trackers/weight.png" ng-click="goToHistory('addWeight')" name="type" style="max-width:100%;height:auto;">
                    <p>Weight</p>
                </div>
                <div class="col">
                </div>
            </div>-->
        </ion-content>
    </ion-view>
</ion-pane>