*{
    font-family: 'Roboto', sans-serif;
}

.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
 
.center-vertical > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.trackingText {
    font-size: 70px; 
    line-height: 70px; 
    color:palevioletred; 
    display: inline;
}

.no-padding {
    padding: 0px !important;
}

.button-stretch {
    width: 100%;
}
 
.col-offset-15 {
    margin-left: 7%;
}

.col-offset-10 {
    margin-left: 5%;
}

/*top-down navigation menu*/
ion-top-menu {
  position: absolute;
  height: 0px;
  width: 100%;
  background: none;
  color: black;
  z-index: 10;
  transition: all .5s; }
ion-pane {
  position: absolute;
  transition: all .5s !important; }

/*page slider*/
.centerWhite{
        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 80px; 
    }

.centerVH{
        text-align: center;
        vertical-align: middle;
    }

.swiper-pagination-bullet{
        background-color: #fff;
    }

/*calendar*/
.novavozila {
  font-size: 90%;
}

.novavozila .ui-widget {
  font-family: font-family: 'Source Sans Pro', sans-serif;
  background: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.novavozila .ui-datepicker {
  padding: 0;
}

.novavozila .ui-datepicker-header {
  border: none;
  background: transparent;
  font-weight: normal;
  font-size: 13px;
}

.novavozila .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.novavozila .ui-datepicker .ui-datepicker-title {
  margin-top: .4em;
  margin-bottom: .3em;
  color: #000000;
}

.novavozila .ui-datepicker .ui-datepicker-prev-hover,
.novavozila .ui-datepicker .ui-datepicker-next-hover,
.novavozila .ui-datepicker .ui-datepicker-next,
.novavozila .ui-datepicker .ui-datepicker-prev {
  top: .9em;
  border: none;
}

.novavozila .ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

.novavozila .ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.novavozila .ui-datepicker .ui-datepicker-next span,
.novavozila .ui-datepicker .ui-datepicker-prev span {
  background-position: -32px 0;
  margin-top: 0;
  top: 0;
  font-weight: normal;
  color: white;
}

.novavozila .ui-datepicker .ui-datepicker-prev span {
  background-position: -96px 0;
}

.novavozila .ui-datepicker table {
  margin: 0;
}

.novavozila .ui-datepicker th {
  padding: 1em 0;
  color: black;
  font-size: 13px;
  font-weight: normal;
  border: none;
  border-top: 1px solid #3a414d;
}

.novavozila .ui-datepicker td {
  background: #ffffff;
  border: none;
  padding: 0;
}

.novavozila td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: .5em;
  margin: 0;
  font-weight: normal;
  color: black;
  font-size: 13px;
}

.novavozila .ui-state-disabled {
  opacity: 1;
}

.novavozila .ui-state-disabled .ui-state-default {
  color: #666;
}

.novavozila td .ui-state-active,
.novavozila td .ui-state-hover {
  background: #A9A9A9;
}

