* {
    font-family: 'Roboto', sans-serif;
}

.autoSize{
    max-width:100%;
    height:auto;
}

.topRightBadge {
    position: absolute;
    right: 5%;
    top: 5%;
}

.button-rounded {
  display: block !important;
  width: 25px !important;
  height: 25px !important;
  line-height: 25px !important;

  border-radius: 50% !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

.float-button-left-hasFooter {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    padding: 25px;
    font-size: 40px;
    background: $warning;
    position: fixed;
    bottom: 60px; /* Adjust to where you want it */
    left: 10px; /* Adjust to where you want it */
    z-index: 9999;
}
.float-button-left-hasFooter .height_fix {
    margin-top: 100%;
}
.float-button-left-hasFooter .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px; /* Note, this must be half the font size */
    color: $light;
}

.float-button-hasFooter-topButton {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    padding: 25px;
    font-size: 40px;
    background: $warning;
    position: fixed;
    bottom: 120px; /* Adjust to where you want it */
    right: 10px; /* Adjust to where you want it */
    z-index: 9999;
}
.float-button-hasFooter-topButton .height_fix {
    margin-top: 100%;
}
.float-button-hasFooter-topButton .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px; /* Note, this must be half the font size */
    color: $light;
}

.float-button-hasFooter {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    padding: 25px;
    font-size: 40px;
    background: $warning;
    position: fixed;
    bottom: 60px; /* Adjust to where you want it */
    right: 10px; /* Adjust to where you want it */
    z-index: 9999;
}
.float-button-hasFooter .height_fix {
    margin-top: 100%;
}
.float-button-hasFooter .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px; /* Note, this must be half the font size */
    color: $light;
}

.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    padding: 25px;
    font-size: 40px;
    background: $warning;
    position: fixed;
    bottom: 10px; /* Adjust to where you want it */
    right: 10px; /* Adjust to where you want it */
    z-index: 9999;
}
.float-button .height_fix {
    margin-top: 100%;
}
.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px; /* Note, this must be half the font size */
    color: $light;
}

.menu-icon {
    color: darkblue;
}

.fullPopup {
    max-width: 100%;
    max-height: 100%;
}

.popup-vertical-buttons button {
    min-width: 100%;
    margin-bottom: 5px;
}

.popup-vertical-buttons .popup-buttons {
    display: block;
}

.center-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.center-vertical > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.photoJournalBorder {
    border: 1px solid #FFFFFF;
}
.activeWeek {
    border: 1px solid #0866c6;
}
.nonActiveWeek {
    border: 1px solid #D3D3D3;
}

.activeBorder {
    border: 3px solid #0866c6;
}

.trackingText {
    font-size: 70px;
    line-height: 70px;
    color: palevioletred;
    display: inline;
}

.no-padding {
    padding: 0px !important;
}

.button-stretch {
    width: 100%;
}

.col-offset-15 {
    margin-left: 7%;
}

.col-offset-10 {
    margin-left: 5%;
}

/*top-down navigation menu*/
ion-top-menu {
    position: absolute;
    height: 0px;
    width: 100%;
    background: none;
    color: black;
    z-index: 10;
    transition: all .5s;
}

ion-pane {
    position: absolute;
    transition: all .5s !important;
}

/*page slider*/
.centerWhite {
    color: white;
    text-align: center;
}

.centerVH {
    text-align: center;
    vertical-align: middle;
}

.swiper-pagination-bullet {
    background-color: #fff;
}